<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <style>
        html * {
            font-size: 26px;
            color: green;
            font-family: Roboto;
        }
        table, td, th {
            border: 1px solid grey;
        }
        td {
            height: 80px;
            width: 200px;
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>
<body>
<table>
    <thead><b>List of Cars:</b>
        <tr>
            <th>Car_Name</th>
            <th>Car_Model</th>
            <th>Car_Power</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.name}"> Name </td>
        <td th:text="${car.model}"> Model </td>
        <td th:text="${car.horsePower}"> Power </td>
    </tr>
    </tbody>
</table>
</body>
</html>